@font-face {
    font-family: "myFont";
    src: url(../fonts/SF-Pro-Text.woff2);
}


@font-face {
    font-family: "myFontForTitle";
    src: url(../fonts/SF-Pro-Display.woff2);
}


:root {
    --first-color: #ffa500;
    --first-color-t: #ffa500aa;
    --first-color-light: #ffba39;
    --secondary-color: rgb(34, 34, 39);
    --label: #fff;
    --secondary-label: rgb(134, 134, 139);
    --tertiary-label: #666;
    --quaternary-label: #444;
    --border-color: rgba(255, 255, 255, 0.1);
    --border: 1px solid var(--border-color);
    --box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.03);
    --background: rgba(0, 0, 0);
    --background-alt: rgb(15, 15, 15);
    --background-light: rgb(28, 28, 28);
    --font-size: 14px;
    --border-radius: 5px;
    --width-nav: calc(100% * 0.29);
    --t: 0.2s;
    --width-container: calc(100% - var(--width-nav));
    --height-second-nav: 38px;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    color: currentColor;
    box-sizing: border-box;
    font-family: -apple-system, "myFont", system-ui, sans-serif;
}

body {
    font-size: var(--font-size);
    background-color: var(--background);
    color: var(--label);
}


.title {
    font-family: "myFontForTitle";
}

.container {
    display: flex;
    flex-direction: column;
    width: var(--width-container);
    background: #000;
    margin-left: var(--width-nav);
}

.navbar {
    position: fixed;
    background-color: var(--background-alt);
    border-right: var(--border);
    width: var(--width-nav);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    overflow-y: auto;
}

.navbar>* {
    padding: 10px;
    width: 100%;
}

.add-group {
    cursor: pointer;
}


.navbar .title-app {
    display: flex;
}

.navbar .title-app .title {
    font-size: 2.5em;
    font-weight: 600;
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-light);
    border: var(--border);
    box-shadow: var(--box-shadow);
    z-index: 1;
    width: 100%;
    border-radius: 8px;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.navbar .search-bar svg {
    width: 1em;
    position: absolute;
    left: 8px;
}

.search-bar svg path {
    fill: var(--label);
}

.navbar .search-bar:has(input:focus) {
    box-shadow: 0 0 0 1px var(--first-color);
    border-color: var(--first-color);
}

.navbar .search-bar:has(input:hover) svg path {
    opacity: 1;
}

.navbar .search-bar input {
    width: 100%;
    height: 30px;
    padding: 0 10px;
    outline: none;
    padding-left: 28px;
    border: none;
    background-color: transparent;
    color: var(--text-color);
    font-size: var(--font-size);
}

.navbar .default_folder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
}

.navbar .default_folder a {
    text-decoration: none;
    color: var(--label);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .6em;
    width: 100%;
    height: 100%;
}

.navbar .default_folder .folder {
    background-color: var(--background-light);
    height: 70px;
    border-radius: var(--border-radius);
    box-shadow: 0 0 0 1px var(--border-color);
}

.navbar .default_folder .folder.activate {
    background-color: var(--secondary-color);
    box-shadow: 0 0 0 3px var(--first-color-t);
}


.navbar .default_folder .up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .default_folder .up :is(svg, img) {
    width: 2em;
    height: auto;
    border-radius: 50%;
}

.navbar .default_folder .up .number {
    font-size: 1.6em;
    font-weight: 600;
    font-family: "myFontForTitle";
}

.navbar .default_folder .down {
    display: flex;
}

.navbar .default_folder .down .name {
    font-size: 1.2em;
    font-family: "myFontForTitle";
    text-transform: capitalize;
}


.navbar .end {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width-nav);
    bottom: 0;
    padding: 0;
}

.navbar .end button {
    display: flex;
    background-color: var(--background-alt);
    border: none;
    width: 100%;
    align-items: center;
    border-top: var(--border);
    gap: 5px;
    padding: 8px;
    font-size: 1em;
}

.navbar .end button svg {
    width: 1rem;
    height: auto;
}


.navbar .end button:hover {
    background-color: var(--background-light);
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.list-container .list-text {
    color: var(--secondary-label);
    font-size: 1.125em;
    text-transform: uppercase;
}

.navbar .list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.navbar .list-container .list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.navbar .list-container .list li {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 0px 6px;
    height: 26px;
    transition: all var(--t);
    border-radius: var(--border-radius);
}


.navbar .list-container .list li:hover {
    cursor: pointer;
    background-color: var(--background-light);
}

.navbar .list-container .list li.active {
    background-color: var(--background-light);
    color: #fff;
}

.navbar .list-container .list li .icon {
    position: absolute;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
    background-image: linear-gradient(45deg, var(--background), #222);
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    text-transform: uppercase;
}

.navbar .list-container .list li a {
    text-decoration: none;
    color: var(--label);
    font-size: 1em;
    flex-grow: 1;
    padding-left: 25px;
    text-transform: capitalize;
}

.container {
    display: flex;
    flex-direction: column;
}

.container .second-navbar {
    position: fixed;
    top: 0;
    left: calc(var(--width-nav));
    height: var(--height-second-nav);
    width: calc(100% - var(--width-nav));
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px) saturate(180%);
    padding: 0 10px;
    z-index: 100;
}

.container .second-navbar .right {
    display: flex;
    gap: 10px;
}

.container .second-navbar .right img {
    width: 1.4em;
    cursor: pointer;
    transition: transform var(--t);
}

.container .second-navbar .right svg {
    width: 1.2em;
    height: auto;
    fill: var(--label);
}

.container .second-navbar .right img:active {
    transform: scale(0.9);
}

.container .container-tasks {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: var(--height-second-nav);
}

.container .container-tasks>* {
    padding: 1rem;
}

.container-tasks .title-zone {
    display: flex;
    flex-direction: column;
}

.container-tasks .title-zone .task-name {
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--first-color);
}

.container-tasks .title-zone .sub-title {
    display: flex;
    gap: 4px;
    align-items: center;
}

.container-tasks .sub-title .clear {
    background-color: var(--background-alt);
    padding: 2px 6px;
    border-radius: 20px;
    border: none;
    color: var(--first-color);
    cursor: pointer;
    transition: background var(--t);
}

.container-tasks .sub-title .clear:active {
    background-color: var(--background-light);
}

.container-tasks .group-task {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-height: 520px;
    overflow-y: auto;
    margin-right: .5rem;
}

.container-tasks .group-task .group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container .group .title-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.container .group .title-group h3 {
    text-transform: capitalize;
    font-weight: bold;
}

.container .title-group svg {
    fill: var(--label);
    width: 1em;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: var(--t);
}

.container .title-group svg:active {
    transform: scale(0.9);
}

.container .task {
    display: flex;
    flex-direction: column;
    background: var(--background-light);
    border-radius: calc(6px + 8px);
    padding: 8px;
    gap: 5px;
}

.container .task .default {
    display: flex;
    gap: 5px;
    align-items: center;
    min-height: calc(32px - 8px * 2);
}

.container .task .default svg {
    width: 1.25em;
    height: auto;
    cursor: pointer;
    fill: var(--first-color);
}

.container .task.completed .default svg {
    fill: var(--first-color-light);
}

.container .task .other-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.container .task .day {
    display: block;
    padding-left: 18px;
    color: var(--secondary-label);
    line-height: 1.1;
    margin-top: 4px;
}

.container .task .other-info img {
    border-radius: 6px;
    height: 160px;
    width: 100%;
    object-fit: cover;
}



.container-tasks.collum .group-task {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-tasks.collum .group-task .group {
    gap: 0;
}

.container-tasks.collum .group-task .group .title-group {
    margin-bottom: 8px;
}

.container-tasks.collum .group-task .task {
    border-radius: 0px;
    position: relative;
    gap: 0;
    background-color: transparent;
}

.container-tasks.collum .group-task .task::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 28px;
    width: calc(100% - 28px);
    height: 1px;
    background: var(--border-color);
}

.container-tasks.collum .group-task .task:last-child::after {
    content: none;
}

.container-tasks.collum .group-task .task img {
    width: 100px;
    margin-left: 20px;
    height: auto;
    cursor: pointer;
    transition: all var(--t);
}

.container-tasks.collum .group-task .task img:hover {
    transform: scale(1.05);
}




/* form */
.formGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all var(--t);
    background-color: rgba(0, 0, 0, .5);
    backdrop-filter: blur(30px) saturate(180%);
    z-index: 100;
}

.formGroup.mask {
    overflow: hidden;
    border-radius: 50%;
    transform: scale(0);
}


.formGroup fieldset {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    background-color: var(--background-light);
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: min(100%, 300px);
}

.formGroup .note {
    color: var(--secondary-label);
}

.formGroup fieldset h1 {
    font-size: clamp(1.2em, 2vw + 1em, 1.8em);
    text-transform: uppercase;
    width: fit-content;
}

.items-form {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.item-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.item-form-row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.label-form {
    font-size: 1.1em;
    color: var(--secondary-label);
    text-transform: capitalize;
    position: absolute;
    left: 12px;
    transition: all var(--t);
}

.item-form:has(input:not(:placeholder-shown)) label,
.item-form:has(input:focus, input.activate) label {
    top: calc((-0.8em - 2px * 2) / 2);
    font-size: .8em;
    background-color: var(--background-alt);
    padding: 2px 5px;
    border-radius: 10px;
    border: var(--border);
    color: var(--tertiary-label);
}

.item-form input {
    height: 40px;
    background: var(--background-alt);
    border: var(--border);
    border-radius: var(--border-radius);
    outline: none;
    padding: 0 12px;
    padding-top: 12px;
    font-size: 1em;
}

.item-form button {
    width: 100%;
    height: 30px;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--first-color);
    text-transform: capitalize;
    font: 1em;
    cursor: pointer;
    transition: transform var(--t);
}

.formGroup fieldset .item.row button:first-child {
    background-color: var(--background-alt);
}

.formGroup fieldset .item.row button:active {
    transform: scale(0.97);
}







@media all and (max-width: 1060px) {
    .container-tasks .group-task {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 1rem;
        max-height: 520px;
        overflow-y: auto;
        margin-right: .5rem;
    }
}